// export const coolGray10 = '#f2f4f8';
// export const coolGray20 = '#dde1e6';
// export const coolGray30 = '#c1c7cd';
// export const coolGray40 = '#a2a9b0';
// export const coolGray50 = '#878d96';
// export const coolGray60 = '#697077';
// export const coolGray70 = '#4d5358';
// export const coolGray80 = '#343a3f';
// export const coolGray90 = '#21272a';
// export const coolGray100 = '#121619';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000501;
  --white: #ffffff;
  --green: #31b28a;
  --lightgreen: #8cdfc5;
  --red: #ff4404;
  --tan: #b6b57b;
  --main: "Nunito", sans-serif;
  --heading: "Nunito", sans-serif;

  --base-size: 1rem;
  --scale: 1.2;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
}
body {
  font-family: var(--main);
  margin: 0;
  padding: 0;
  font-size: var(--base-size);
  line-height: 1.5;
  background-color: #121619;
  color:#ffffff;
  letter-spacing: .1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  margin: 0
}
h1 {
  font-size: var(--h1);
  font-weight: 300;
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

// .color-container{
//   --dark-theme: false;
// }

// @container style(--dark-theme:true){
//   .color-container {
//     background-color: white;
//     color: black;
//   }
// }

button {
  font-family: 'Nunito', sans-serif;
  letter-spacing: .1rem;
  font-size:medium;
  border: none;
  color: white;
  padding: 0 .5rem;
  min-width: 3rem;
  border-radius: 0.25rem;
  height: 3rem;
  background-color: #697077;

  transition-duration: 0.3s;
  transition-property: background-color transform;

  &:hover {
    transform: translateY(5%);
    cursor: pointer;
  }
  &:active {
    transform: translateY(5%);
  }
}

.main-nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    cursor: pointer;
    &:first-child{
      margin-right: auto;
    }
  }
}

.logo{
  width: 100px;
  margin-top: 1rem;
}

.install-container {
  text-align: right;
  padding-right:1rem;
  padding-bottom: 1rem;
  button{
    background-color: #e4007c;
    width: 8rem;
  }
}

.main-layout-container {
  display: grid;
  // background-color: #ca5d5a;
  height: 90vh;
  width: 100vw;
  place-items: center;
  // outline: 1px solid rgba(38, 39, 46, 0.338);
  // margin: 5vh auto;
}

.main-experience-container {
  // outline: 1px solid pink;
  position: relative;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

.file-upload-ctrls {
  position: absolute;
  padding: 10rem;
  width: 90vw;
  outline: 1px dashed #4d5358;
  display: inline-block;
  top: 40%;
  left: 50%;
  // background-color: #21272a;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.file-upload-inner-grid {
  display: grid;
  justify-items: center;
  grid-template-areas: 
    "welcome-mssg"
    "file-upload-label"
    "file-upload"
}

#welcome-mssg {
  grid-area: welcome-mssg;
  text-align: center;
  font-size: x-large;
}

#file-upload-label {
  grid-area:file-upload-label;
  // background-color: #b6b57b;
  border: 1px solid #4d5358;
  font-size: large;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  transition-duration: 0.3s;
  transition-property: background-color transform;

  &:hover {
    transform: translateY(5%);
    background-color: #21272a;
    cursor: pointer;
  }
  &:active {
    transform: translateY(5%);
  }
}

#file-upload {
  display: none;
  grid-area:file-upload;
}
// finish init screen start screen 2
//=========================================

#back-svg-icon{
  position: absolute;
  top:15%;
  left: 7%;
  transform: scale(1.8);
  
  transition-duration: 0.7;
  cursor: pointer;

  &:hover{
    transform: scale(1.8) translateX(-4%);
  }
}

@media (max-width: 600px) {
  #back-svg-icon {
    top: 12%;
    left:10%;
    transform:scale(1.4); 

    &:hover{
      transform:scale(1.4) translateX(-4%);
    }
  }  
}

// ====================
// ===ICONS
// ====================

#file-upload-svg-icon {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: scale(1.2) translate(-50%, -50%);
}

@media (max-width: 600px) {
  #file-upload-svg-icon {
    top: 23%;
    transform:scale(1.4); 
  }
}

#start-svg {
  position: absolute;
  top:20%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#clock-svg {
  position: absolute;
  top:20%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#lock-svg {
  position: absolute;
  top:20%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#empty-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#checkered-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#plus-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#wait-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#exclamation-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#healthy-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#star-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#check-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#done-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

// ====================
// ======ICONS END=====
// ====================


#file-name-display {
  position: absolute;
  // outline: 1px solid yellowgreen;
  width: 50vw;
  // width: 500px;

  // width: 90vw;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  // padding-left: 5%;
  // padding-right: 5%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .file-name-display {
    top: 19%; 
  }
}

.password-ctrls {
  position: absolute;
  width: 90vw;
  left:50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.password-ctrls-inner-grid {
  display: grid;
  grid-template-areas: 
    "password-label"
    "password-input"
    "password-mssg"
    "password-btn";
    grid-template-rows: auto auto minmax(0, auto) auto;
}

#password-label {
  grid-area: password-label;
}

#password-input {
  grid-area: password-input;
}

#top-bulls, #bulls-mssg, #btm-bulls{
  grid-area: password-mssg;
  font-size: x-large;
  text-align: center;
  visibility: hidden;
  display: none;
}

#password-btn {
  grid-area: password-btn;
}

#confirm-password-label {
  grid-area: password-label;
}

#confirm-password-input {
  grid-area: password-input;
}

#encrypt-btn {
  grid-area: password-btn;
}

.password-ctrls-label {
  margin-left: 5%;
  font-size: x-large;
}

.password-ctrls-input{
  width: 80vw;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 5%;
  font-family: 'Nunito', sans-serif;
  margin-right: 5%;
  // margin: 0 auto;
  font-size: xx-large;
  outline: none;
  grid-area: input;
  padding: 0 1rem;
  border-radius: 0.25rem;
  height: 4rem;
  color: white;
  border: 2px solid #4d5358;
  background-color: #121619;

  &:focus {
    border: 2px solid #c1c7cd;
  }

}

.password-ctrls-btn {
  width: 80vw;
  margin-left: 5%;
  background-color: #121619;
  border: 1px solid #4d5358;
  font-size: large;
  margin-top: 2rem;
  height: 4rem;
  font-size: x-large;
  
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  transition-duration: 0.3s;
  transition-property: background-color transform;

  &:hover {
    transform: translateY(5%);
    background-color: #21272a;
    letter-spacing: .2rem;
    cursor: pointer;
  }
  &:active {
    transform: translateY(5%);
  }
}



//=========================================

.login-container {
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: #21272a;
}

.login-ctrls {
  text-align: right;
  padding-top:1rem;
  max-width: 535px;
}

#login-form {
  display: grid;
  grid-template-areas: 
    "login-email-label"
    "login-email-input"
    "login-password-label"
    "login-password-input"
    "login-btn";
  grid-template-rows: auto auto auto auto auto;
  padding-left: 1rem;
  max-width: 535px;
}

#register-mssg {
  margin-left: 1rem;
  margin-top: 1rem;
}

#open-sign-up {
  color: #a2a9b0;
  cursor: pointer;
}

#login-header {
  padding-left: 1rem;
}

#login-email-label {
  grid-area: login-email-label; 
  font-size: x-large;
  margin-top: 3rem;
}

#login-email-input {
  grid-area: login-email-input; 
  height: 3rem;
  font-size: x-large;
}

#login-password-label {
  grid-area: login-password-label;
  font-size: x-large; 
  margin-top: 2rem;
}

#login-password-input {
  grid-area: login-password-input; 
  height: 3rem;
  font-size: x-large;
}

#login-btn {
  grid-area: login-btn; 
  margin-top: 2rem;
  align-self: center; 
  font-size: x-large;
}

.sign-up-container {
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: #21272a;
}

.sign-up-ctrls {
  text-align: right;
  padding-top:1rem;
  max-width: 500px;
}

#sign-up-form {
  display: grid;
  grid-template-areas: 
    "sign-up-email-label"
    "sign-up-email-input"
    "sign-up-password-label"
    "sign-up-password-input"
    "sign-up-btn";
  grid-template-rows: auto auto auto auto auto;
  padding-left: 1rem;
  max-width: 500px;
}

#sign-up-header {
  padding-left: 1rem;
}

#sign-up-email-label {
  grid-area: sign-up-email-label; 
  font-size: x-large;
  margin-top: 3rem;
}

#sign-up-email-input {
  grid-area: sign-up-email-input; 
  height: 3rem;
  font-size: x-large;
}

#sign-up-password-label {
  grid-area: sign-up-password-label;
  font-size: x-large; 
  margin-top: 2rem;
}

#sign-up-password-input {
  grid-area: sign-up-password-input; 
  height: 3rem;
  font-size: x-large;
}

#sign-up-btn {
  grid-area: sign-up-btn; 
  margin-top: 2rem;
  align-self: center; /* Center the button vertically */
  font-size: x-large;
}

.terms-container {
  position: absolute;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  top:0;
  left:90vw;
  background-color: #343a3f;
}

.terms-content {
  padding-top:1rem;
  padding-left: 1rem;
  max-width: 535px;
}

.about-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: rgb(219, 192, 255);
}

.contact-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: rgb(183, 42, 42);
}

footer nav ul {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
  li {
    cursor: pointer;
  }
}

#close-svg {
  position: absolute;
  left:95%;
  top: 5%;
  z-index: 5;
  &:hover {
    cursor: pointer;
  }
}

.encrypt-complete-dialog{
  position:absolute;
  text-align: center;
  width: 33%;
  left:33%;
  top: 33%;
}

.encrypt-error-dialog{
  position:absolute;
}

.experience-bkg {
  background-color: rgb(237, 223, 225);
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

// .hide {
//   transform: scale(0);
//   visibility: hidden;
//   height: 0;
//   width: 0;
// }