// export const coolGray10 = '#f2f4f8';
// export const coolGray20 = '#dde1e6';
// export const coolGray30 = '#c1c7cd';
// export const coolGray40 = '#a2a9b0';
// export const coolGray50 = '#878d96';
// export const coolGray60 = '#697077';
// export const coolGray70 = '#4d5358';
// export const coolGray80 = '#343a3f';
// export const coolGray90 = '#21272a';
// export const coolGray100 = '#121619';



// .color-container{
//   --dark-theme: false;
// }

// @container style(--dark-theme:true){
//   .color-container {
//     background-color: white;
//     color: black;
//   }
// }

@import 'styles/base.scss';
@import 'styles/switch.scss';
@import 'styles/main-nav.scss';



.main-layout-container {
  display: grid;
  height: 90vh;
  width: 100vw;
  place-items: center;
}

.main-experience-container {
  position: relative;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

.main-ctrls {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90vw;
  padding: 10rem;
  border-radius: 1rem;
  outline: 1px dashed var(--gray70);
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .main-ctrls {
   padding: 5rem;
  }  
}

.file-upload-ctrls {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#welcome-mssg {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: x-large;
}

#mode-decrypt {
  color: var(--gray70);
}

#file-upload-label {
  padding: 1rem;
  margin-top: 1rem;
  font-size: large;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid var(--gray70);
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);

  transition-duration: 0.3s;
  transition-property: background-color transform;

  &:hover {
    cursor: pointer;
    transform: translateY(5%);
    background-color: var(--gray90);
  }
  &:active {
    transform: translateY(5%);
  }
}

#file-upload-input {
  grid-area: file-upload;
  display: none;
}


#back-svg-icon {
  position: absolute;
  top: 8%;
  left: 5%;
  transform: scale(1.8);
  
  transition-duration: 0.7;
  transition-property: transform;
  
  &:hover{
    cursor: pointer;
    transform: scale(1.8) translateX(-4%);
  }
}

@media (max-width: 600px) {
  #back-svg-icon {
    top: 8%;
    left: 8%;
    transform: scale(1.4);

    transition-duration: 0.7;
    transition-property: transform;

    &:hover{
      transform: scale(1.4) translateX(-4%);
    }
  }  
}

// ====================
// SVG ICONS
// ====================

#file-upload-svg-icon {
  // position: absolute;
  // top: 26%;
  // left: 50%;
  margin-bottom: 1rem;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  #file-upload-svg-icon {
    top: 23%;
    left: 52%;
    transform:scale(1.4); 
  }
}

#empty-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#exclamation-shield-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

#done-svg {
  position: absolute;
  top:25%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

// =========================
// SVG ICONS END
// =========================

#file-name-display {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 50vw;
  font-size: x-large;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translate(-50%, -50%);
}

.password-ctrls {
  position: absolute;
  width: 90vw;
  left:50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.password-ctrls-inner-grid {
  display: grid;
  grid-template-areas: 
    "password-label"
    "password-input"
    "password-mssg"
    "password-btn";
    grid-template-rows: auto auto minmax(0, auto) auto;
}

#password-label {
  grid-area: password-label;
}

#password-input {
  grid-area: password-input;
}

#top-bulls,  #btm-bulls{
  grid-area: password-mssg;
  display: none;
  visibility: hidden;
  text-align: center;
  font-size: x-large;
  letter-spacing: 1rem;
}

#password-btn {
  grid-area: password-btn;
}

#confirm-password-label {
  grid-area: password-label;
  margin-top: 2rem;
  display: none;
}

#password-mismatch-mssg {
  margin-left: 5%;
}

#confirm-password-input {
  grid-area: password-input;
  display: none;
}

#encrypt-btn {
  grid-area: password-btn;
  outline: none;
  display: none;

  &:focus{
    border: 2px solid var(--gray30);
  }
}

.password-ctrls-label {
  margin-left: 5%;
  font-size: x-large;
}

.password-ctrls-input{
  grid-area: input;
  width: 80vw;
  height: 4rem;
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 1rem;
  outline: none;
  color: var(--white);
  font-size: xx-large;
  border-radius: 0.25rem;
  font-family: var(--main);
  border: 2px solid var(--gray70);
  background-color: var(--gray100);

  &:focus {
    border: 2px solid var(--gray30);
  }
}

.password-ctrls-btn {
  width: 80vw;
  height: 4rem;
  margin-left: 5%;
  margin-top: 2rem;
  font-size: x-large;
}

// =================
// Log In
// =================

.login-container {
  position: absolute;
  top: 0;
  height: 90vh;
  width: 100vw;
  left:90vw; //move right until open
  background-color: var(--gray100);
}

.panel-ctrls {
  text-align: right;
  padding-top: 1rem;
  max-width: 535px;
}

.close-panel-btn {
  margin-top: 1rem;
  font-size: large;
}

#login-header {
  padding-left: 1rem;
}

#login-form {
  display: grid;
  grid-template-areas: 
    "login-email-label"
    "login-email-input"
    "login-password-label"
    "login-password-input"
    "login-btn";
  grid-template-rows: auto auto auto auto auto;
  padding-left: 1rem;
  max-width: 535px;
}

#login-email-label {
  grid-area: login-email-label; 
  font-size: x-large;
  margin-top: 3rem;
}

.email-password-input {
  height: 3rem;
  outline: none;
  font-size: x-large;
  color: var(--white);
  border-radius: 0.25rem;
  font-family: var(--main);
  border: 2px solid var(--gray70);
  background-color: var(--gray100);
  &:focus {
    border: 2px solid var(--gray30);
  }
}

#login-email-input {
  grid-area: login-email-input;
}

#login-password-label {
  grid-area: login-password-label;
  margin-top: 2rem;
}

#login-password-input {
  grid-area: login-password-input; 
}

#login-btn {
  grid-area: login-btn;
  margin-top: 2rem;
}

#register-mssg {
  margin-left: 1rem;
  margin-top: 1rem;
}

#open-sign-up {
  color: #a2a9b0;
  cursor: pointer;
  &:hover {
    color: #dde1e6;
  }
}

// ====================
// SIGN UP
// ====================

.sign-up-container {
  position: absolute;
  top:0;
  left:90vw;
  height: 90vh;
  width: 100vw;
  background-color: var(--gray90);
}

#sign-up-form {
  display: grid;
  grid-template-areas: 
    "sign-up-email-label"
    "sign-up-email-input"
    "sign-up-password-label"
    "sign-up-password-input"
    "sign-up-btn";
  grid-template-rows: auto auto auto auto auto;
  padding-left: 1rem;
  max-width: 500px;
}

#sign-up-header {
  padding-left: 1rem;
}

#sign-up-email-label {
  grid-area: sign-up-email-label; 
  margin-top: 3rem;
  font-size: x-large;
}

#sign-up-email-input {
  grid-area: sign-up-email-input; 
}

#sign-up-password-label {
  grid-area: sign-up-password-label;
  font-size: x-large; 
  margin-top: 2rem;
}

#sign-up-password-input {
  grid-area: sign-up-password-input; 
}

#sign-up-btn {
  grid-area: sign-up-btn; 
  margin-top: 2rem;
  align-self: center; 
}

.open-terms {
  color: #a2a9b0;
  cursor: pointer;
  &:hover {
    color: #dde1e6;
  }
}

// ====================
// Terms
// ====================

.terms-container {
  position: absolute;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  top:0;
  left:90vw;
  background-color: var(--gray90);
  padding-left: 1rem;
}

.terms-content {
  padding-top:1rem;
  padding-left: 1rem;
  max-width: 535px;
}

// ====================
// About
// ====================

.about-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: var(--gray90);
  padding-left: 1rem;
}

// ====================
// Contact
// ====================

.contact-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: var(--gray90);
  padding-left: 1rem;
}

// ====================
// Footer
// ====================

footer nav ul {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
  li {
    cursor: pointer;
  }
}

