// =================
// Checkout
// =================

.checkout-container {
  position: absolute;
  top: 0;
  height: 90vh;
  width: 100vw;
  left:90vw; //move right until open
  background-color: var(--gray60);
}


#checkout-header {
	text-align: center;
}

.checkout-ctrls{
	display: flex;
	justify-content: end;
}

#close-checkout{
	margin: 0.3rem;
}
  
 
  