// ====================
// Contact
// ====================

.contact-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top:0;
  left:90vw;
  background-color: var(--gray90);
  padding-left: 1rem;
}