.main-nav {
  // padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .3rem;
  position: fixed; /* Fixed position to keep it at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  background-color: transparent; /* Background color to make it stand out */
  z-index: 1000; /* Ensure it stays above other content */
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

.main-nav.scrolled {
  background-color: var(--gray90); /* Background color when scrolled */
}

.main-nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  // padding: 1rem 0; /* Padding for better spacing */
  list-style-type: none;
  width: 100%;
}

.main-nav ul li {
  cursor: pointer;
}

.logo {
  width: 100px;
  // margin-top: 1rem;
}

.app-notifications {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  font-size: 1rem;
  color: var(--pink);
}

.ordo-one-version {
  position: absolute;
  top: 45px;
  left: 195px;
  font-size: x-small;
  color: var(--pink);
}

#open-login {
  transition-duration: 0.7s;
  transition-property: transform;
}

#open-login:hover {
  cursor: pointer;
}

#log-in-svg {
  display: inline-block;
  vertical-align: middle;
}

#open-login:hover #log-in-svg {
  transform: translateX(4%);
  transition: transform 0.3s;
}


#store-svg {
  display: inline-block;
  vertical-align: middle;
}

#log-out-svg {
  display: inline-block;
  vertical-align: middle;
}

#token-svg{
  display: inline-block;
  vertical-align: middle;
}

#person-sensor-svg {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

#closer-svg {
  display: inline-block;
  vertical-align: middle;
}


.install-container {
  text-align: right;
  padding-right:1rem;
  padding-bottom: 1rem;

  button{
    width: 8rem;
    font-size: medium;
    background-color: var(--pink);
  }
}