.main-nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
.main-nav ul {
  display: flex;
  position: relative;
  gap: 2rem;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    cursor: pointer;
    &:first-child{
      margin-right: auto;
    }
  }
}

.logo { 
  width: 100px;
  margin-top: 1rem;
}

// little pink Beta mssg top left
.ordo-one-version {
  position: absolute;
  top: 47px;
  left: 184px;
  font-size: x-small;
  color: var(--pink);
}

#open-login{
  transition-duration: 0.7s;
  transition-property: transform;
  
  &:hover {
    cursor: pointer;

    #log-in-svg {
      transform: translateX(4%);
      transition: transform 0.3s;
    }
  }
}

#log-in-svg {
  display: inline-block;
  vertical-align: middle;
}

#log-out-svg {
  display: inline-block;
  vertical-align: middle;
}

#token-svg{
  display: inline-block;
  vertical-align: middle;
}

#person-sensor-svg {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

#closer-svg {
  display: inline-block;
  vertical-align: middle;
}


.install-container {
  text-align: right;
  padding-right:1rem;
  padding-bottom: 1rem;

  button{
    width: 8rem;
    font-size: medium;
    background-color: var(--pink);
  }
}