.main-layout-container {
    display: grid;
    margin-top: 7rem;
    height: 90vh;
    width: 100vw;
    place-items: center;
  }
  
  .main-experience-container {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .main-ctrls {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 90vw;
    padding: 10rem;
    border-radius: 1rem;
    outline: 1px dashed var(--gray70);
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 600px) {
    .main-ctrls {
     padding: 5rem;
    }  
  }
  
  .file-upload-ctrls {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  
  #welcome-mssg {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
  }
  
  #mode-decrypt {
    color: var(--gray70);
  }
  
  #file-upload-label {
    padding: 1rem;
    margin-top: 1rem;
    font-size: large;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid var(--gray70);
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  
    transition-duration: 0.3s;
    transition-property: background-color transform;
  
    &:hover {
      cursor: pointer;
      transform: translateY(5%);
      background-color: var(--gray90);
    }
    &:active {
      transform: translateY(5%);
    }
  }
  
  #file-upload-input {
    grid-area: file-upload;
    display: none;
  }
  
  #file-name-display {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 50vw;
    font-size: x-large;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 600px) {
    #file-name-display {
      top: 4%;
    }  
  }
  
  .password-ctrls {
    position: absolute;
    width: 90vw;
    left:0;
    top: 50%;
    display: none;
  }
  
  .password-ctrls-inner-grid {
    display: grid;
    grid-template-areas: 
      "password-label"
      "password-input"
      "password-mssg"
      "password-btn";

  }
  
  #password-label {
    grid-area: password-label;
  }
  
  #password-input {
    grid-area: password-input;
  }
  
  #top-bulls,  #btm-bulls{
    grid-area: password-mssg;
    display: none;
    visibility: hidden;
    text-align: center;
    font-size: x-large;
    letter-spacing: 1rem;
  }
  
  #password-btn {
    grid-area: password-btn;
  }
  
  #confirm-password-label {
    grid-area: password-label;
    margin-top: 2rem;
    display: none;
  }
  
  #password-mismatch-mssg {
    margin-left: 5%;
  }
  
  #confirm-password-input {
    grid-area: password-input;
    display: none;
  }
  
  #encrypt-btn {
    outline: none;
    display: none;
  
    &:focus{
      border: 2px solid var(--gray30);
    }
  }
  
  .password-ctrls-label {
    margin-left: 5%;
    font-size: x-large;
  }
  
  .password-ctrls-input{
    grid-area: input;
    width: 80vw;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 1rem;
    outline: none;
    color: var(--white);
    font-size: xx-large;
    border-radius: 0.25rem;
    font-family: var(--main);
    border: 2px solid var(--gray70);
    background-color: var(--gray100);
  
    &:focus {
      border: 2px solid var(--gray30);
    }
  }
  
.password-ctrls-btn {
  width: 80vw;
  height: 4rem;
  margin-left: 5%;
  margin-top: 2rem;
  font-size: x-large;
}

.section-one {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  outline: 1px dashed var(--gray70);

  button {
    margin-top: 1rem;
    width: 8rem;
    font-size: medium;
    outline: 1px solid var(--pink);
  }
}


.main-headline {
  padding-top: 2rem;
  // font-size: smaller;
}

.main-subheadline {
  color: var(--pink);
  max-width: 90ch;
  white-space: normal;
  overflow-wrap: break-word;
}

.section-guide {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns on larger screens */
  gap: 1rem; /* Adjust gap between the boxes */
  min-height: 80vh;
  padding: 1rem;
  box-sizing: border-box; /* Include padding in the element's size */
  background-color: var(--gray100);
}

.step-1-guide, .step-2-guide, .step-3-guide, .step-4-guide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--gray100); /* Example background color */
  color: white; /* Text color */
  font-size: 1.5rem; /* Adjusted font size */
  padding: 2rem;
  outline: 1px dashed var(--gray70);
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 3rem;
  height: 100%; /* Ensure the divs fill their grid cell */
}

.step-3-guide {
  background-color: var(--gray100);
}

.step-1-guide {
  align-items: center;
  justify-content: center;
  background-color: var(--gray100);
}

.step-1-guide button {
  margin-top: 1rem;
  width: 8rem;
  font-size: medium;
  outline: 1px solid var(--pink);
}

.step-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.step-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--pink);
}

.step-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the container fill the available height */
  width: 100%; /* Make the container fill the available width */
}

.step-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: none; /* Hide images by default */
}

.step-img img.landscape {
  display: block; /* Show landscape image on larger screens */
}

@media (max-width: 768px) {
  .section-guide {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }
}

@media (max-width: 970px) {
  .step-img img.landscape {
    display: none; /* Hide landscape image on smaller screens */
  }

  .step-img img.portrait {
    display: block; /* Show portrait image on smaller screens */
  }
}

/* Span steps 2 and 4 across both columns */
.step-5-guide, .step-3-guide {
  grid-column: span 2;
}



.section-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  // grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 1rem; /* Gap between the grid items */
  padding: 3rem;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  text-align: center;
  // background-color: var(--gray90);
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: var(--gray70); /* Example background color */
  color: white; /* Text color */
  // min-height: 20vh; /* Minimum height */
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  outline: 1px dashed var(--gray70);
}

.stat-title {
  font-size: 1.5rem; /* Example font size for title */
  margin-bottom: 1rem; /* Space between title and description */
}

.stat-description {
  font-size: 1rem; /* Example font size for description */
  color: var(--pink);
}

@media (max-width: 768px) {
  .section-stats {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }
}

.review-section {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.review-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.review-card {
  flex: 1;
  min-width: 300px;
  max-width: 30%;
  outline: 1px dashed var(--gray70);
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: left;
  
  color: white;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.reviewer-name {
  margin-left: 1rem;
  font-size: 1.25rem;
}

.review-content {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .review-card {
    max-width: 100%;
  }
}


.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
}

.pricing-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.pricing-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.pricing-card {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  outline: 1px dashed var(--gray70);
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;

  color: white;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--pink);
}

.card-price {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.card-features {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
  text-align: left;
}

.card-features li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-features svg {
  margin-right: 0.5rem;
}

#card-button {
  
  margin-top: 1rem;
    width: 8rem;
    font-size: medium;
    outline: 1px solid var(--pink);
}

@media (max-width: 768px) {
  .pricing-card {
    max-width: 100%;
  }
}
