// ====================
// Terms
// ====================

.terms-container {
    position: absolute;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    top:0;
    left:90vw;
    background-color: var(--gray90);
    padding-left: 1rem;
  }
  
  .terms-content {
    padding-top:1rem;
    padding-left: 1rem;
    max-width: 535px;
  }